:root{
    --primary: #252424;
    --secondary: #570f0f;
}

/*---------------------------------------------------------------------------------------body---------------------------------------------------------------------------------------------*/
body {
    background-image: url(image/fond_carbone.jpg);
    margin: 0;
    padding: 0;
}
.gradientcolor {
    height: 100%;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
}
h1 {
    position: relative;
    display: inline-block;
    color: darkgray;
    top: 1em;
    left: 5.3em;
    float: left;
    width: 60%;
}
h3 {
    position: relative;
    bottom: -20px;
    font-size: 2em;
    margin-left: 1.1em;
    text-align: left;
    background: -webkit-linear-gradient(rgb(65, 61, 61),rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
}

/*-------------------------------------------------------------------------header--------------------------------------------------------------------------------------------------------*/
.header {
    z-index: 10;
    position: fixed ;
    width: 100%;
    height: 100px;
    border: solid black 2px;
    background-image: url(image/carbone_header.jpg);
}
nav > ul::after{
    content: "";
    display: block;
    clear: both;
}
nav a {
    display: inline-block;
    text-decoration: none;
}
.menu {
    float: left;
}
.submenu {
    display: none;
}
#boutonAcceuil {
    width: 100px;
    position:relative;
    top: 2em;
    background-image: url(image/wallpaperbetter.com_1280x768.jpg);
    border: solid darkgray 2px;
    list-style-type: none;
    padding-left: 38px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}
#boutonCat {
    width: 100px;
    position:relative;
    top: 2em;
    background-image: url(image/wallpaperbetter.com_1280x768.jpg);
    border: solid darkgray 2px;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}
#boutonCat:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}
a {
    text-decoration: none;
    color: darkgray;
    font-weight: bold;
}
nav li:hover .submenu{
    position: absolute;
    display: inline-block;
    list-style-type: none;
    width: 100%;
    top: 100%;
    left: -2px;
    text-align: center;
    padding: 0;
    padding-bottom: 2px;
    z-index: 1000;
    background-image: url(image/wallpaperbetter.com_1280x768.jpg);
    border: solid darkgray 2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px ;
    font-size: small;
    border-top: none;
}

/*--------------------------------------------------------------------------------main----------------------------------------------------------------------------------------------------*/
#imageCouvBest {
    position: relative;
    z-index: 5;
    left: 80em;
    height: 485px;
    width: 350px;
    border: 2px solid #252424;
    border-radius: 20px;
}
#best_movie {
    height: 30em;
    width: 100%;
}
#bestDiv {
    height: 100%;
    width: 100%;
}
#overFlow {
    position: absolute;
    z-index: 4;
    top: 104px;
    width: 100%;
    height: 30.5em;
    background-color: rgba(26, 25, 25, 0.87);
    box-shadow: 1px 10px 25px 10px #252424;
}
#play {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 3.5em;
    left: 3em;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.ecart {
    width: 100%;
    height: 100px;
}
/*-----semantique--------*/
#titre {
    position: absolute;
    z-index: 5;
    top: 90px;
    left: 70px;
    color:white;
    font-size: 4em;
    margin-left: 1.5em;
    margin-bottom: 0;
    text-transform: uppercase;
}
#years {
    position: absolute;
    z-index: 5;
    top: 270px;
    left: 120px;
    color: white;
    font-size: 2em;
    margin-left: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: capitalize;
}
#description {
    position: absolute;
    z-index: 5;
    width: 65em;
    top: 350px;
    left: 145px;
    color:white;
    font-size: 1em;
    margin-left: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: capitalize;
}

/*--------------------------------------------------------------------------fleche -------------------------------------------------------------------------------------------------------*/
.flecheGauche {
    padding: 0;
    margin-top: 70%;
    width: 180px;
    height: 200px;
}
.flecheDroite {
    padding: 0;
    margin-top: 70%;
    width: 180px;
    height: 200px;
}

/*----------------------------------------------------------------------------carte film--------------------------------------------------------------------------------------------------*/
/*-------css categorie------*/
.presentation {
    height: 50px;
    padding: 0;
    margin-bottom: 1.5em;
    margin-top: 1em;
}
/*-----conteneur carte et fleches-------*/
.categorie {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
/*------enfants----*/
.fleche {
    margin: 0;
    padding: 0;
    width: 8%;
}
.affichage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.child {
    display: inline-block;
    padding: 0;
    height: 23em;
}
.child:first-child {
    top: 5em;
    width: 150px;
}
.child:not(:first-child) {
    width: 96em;
}
.child:last-child {
    width: 150px;
}

/*------css carte film-----*/
.boxing {
    width: 16.5em;
    height: 24em;
    display: block;
    padding: 0 10px;
    flex-shrink: 0;
}
.boxing:hover {
    transition-duration: 0.5s;
    transform: scale(1.25);
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -webkit-transition-duration: 0.5s;
    -moz-transform:scale(1.25); /* Firefox */
    -moz-transition-duration: 0.5s;
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -ms-transition-duration: 0.5s;
    -o-transform:scale(1.25); /* Opera */
    -o-transition-duration: 0.5s;
}
.boxing:not(:hover) {
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
}

/*--------------------------------------------------------------------------------footer---------------------------------------------------------------------------------------------------*/
.footer{
    width: 100%;
    height: 80px;
    background-image: url(image/carbone_header.jpg);
}
#titleFooter {
    position: relative;
    display: inline-block;
    left: 40px;
    font-size: 20px;
    color: darkgray;
}
#pFooter {
    position: relative;
    color: darkgray;
    display: inline-block;
    font-size: 15px;
    left: 150px;
}
/*------------------------------------------------------- semantique modal ---------------------------------------------------------------------------------------------------------------*/
.divModalLeft {
    float: left;
    margin: 0;
    width: 25%;
}
.divModalRight {
    width: 70%;
    height: 40em;
    margin: 0;
    float: right;
    overflow: auto;
}
.imageModal {
    height: 38em;
    border: 2px solid #252424;
    border-radius: 20px;
    width: 100%;
}
.titleModal {
    font-size: 5em;
    margin: 0;
    width: 90%;
}
.texteModal {
    font-size: 2em;
    width: 80%;
}

 /*--------------------------------------------------------------------------------The Modal (background)------------------------------------------------------------------------------- */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1010; /* Sit on top */
    margin: 0;
    padding: 0;
    left: 5%;
    top: 0;
    width: 90%; /* Full width */
    height: 90%; /* Full height */
}
/* The Close Button */
#close {
    color: #aaa;
    float: right;
    padding-right: 10px;
    font-size: 35px;
    font-weight: bold;
}
#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 
.is-visible {
    display: block;
}

/* ----------------------------------------------------------------------------------structure modal-------------------------------------------------------------------------------------*/
/*      Modal Body     */
.modal-body {
    background-image: url(image/fond_carbone.jpg);
    margin: 0;
    padding: 0;
    border: 5px solid #888;
    border-radius: 20px;
    height: 100%;
    color: darkgray;
}
/*     Modal Header    */
.modal-header {
    background-image: url(image/carbone_header.jpg);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 10%;
    width: 100%;
    color: darkgray;
}
/*      Modal Content   */
.modal-content {
    padding: 1.5em;
    width: 100%;
    height: 74%;
}
/*      Modal Footer    */
.modal-footer {
    background-image: url(image/carbone_header.jpg);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 10%;
    color: darkgray;
}

/*---------------------------------------------------------------------------------Add Animation Modal-------------------------------------------------------------------------------  */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top:0; opacity: 1}
}