:root{
    --primary: #252424;
    --secondary: #570f0f;
}
body {
    background-image: url(image/fond_carbone.jpg);
    margin: 0;
    padding: 0;
}
.gradientcolor {
    height: 100%;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
}
.header {
    z-index: 10;
    position: fixed ;
    width: 100%;
    height: 100px;
    border: solid black 2px;
    background-image: url(image/carbone_header.jpg);
}
.ecart {
    width: 100%;
    height: 100px;
}
h1 {
    position: relative;
    display: inline-block;
    color: darkgray;
    top: 1em;
    left: 1em;
    float: left;
    width: 60%;
}
#titre {
    position: absolute;
    z-index: 5;
    top: 120px;
    left: 70px;
    color:white;
    font-size: 4em;
    margin-left: 1.5em;
    margin-bottom: 0;
    text-transform: uppercase;
}
#years {
    position: absolute;
    z-index: 5;
    top: 270px;
    left: 120px;
    color: white;
    font-size: 2em;
    margin-left: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: capitalize;
}
#description {
    position: absolute;
    z-index: 5;
    top: 350px;
    left: 145px;
    color:white;
    font-size: 1em;
    margin-left: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: capitalize;
}
#imageCouvBest {
    position: relative;
    left: 60%;
    height: 100%;
}
#best_movie {
    height: 30em;
    width: 100%;
}
#bestDiv {
    height: 100%;
    width: 100%;
}
#overFlow {
    position: absolute;
    z-index: 4;
    top: 105px;
    width: 100%;
    height: 30em;
    background-color: rgba(65, 61, 61, 0.452);
}
h3 {
    position: relative;
    bottom: -20px;
    font-size: 2em;
    margin-left: 1.1em;
    text-align: left;
    background: -webkit-linear-gradient(rgb(65, 61, 61),rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
}
nav > ul::after{
    content: "";
    display: block;
    clear: both;
}
nav a {
    display: inline-block;
    text-decoration: none;
}
.menu {
    float: left;
}
.submenu {
    display: none;
}
#boutonAcceuil {
    width: 100px;
    position:relative;
    top: 2em;
    background-image: url(image/wallpaperbetter.com_1280x768.jpg);
    border: solid darkgray 2px;
    list-style-type: none;
    padding-left: 38px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}
#boutonCat {
    width: 100px;
    position:relative;
    top: 2em;
    background-image: url(image/wallpaperbetter.com_1280x768.jpg);
    border: solid darkgray 2px;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}
#boutonCat:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}
a {
    text-decoration: none;
    color: darkgray;
    font-weight: bold;
}
nav li:hover .submenu{
    position: absolute;
    display: inline-block;
    list-style-type: none;
    width: 100%;
    top: 100%;
    left: -2px;
    text-align: center;
    padding: 0;
    padding-bottom: 2px;
    z-index: 1000;
    background-image: url(image/wallpaperbetter.com_1280x768.jpg);
    border: solid darkgray 2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px ;
    font-size: small;
    border-top: none;
}
#cat {
    position: absolute;
    padding-left: 1.5em;
    width: 150px;
    top: 3.8em;
}
#play {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 3.5em;
    left: 3em;
}
.boxing_movies {
    display: flexbox;   
    overflow-x: auto;
    overflow-y: hidden; 
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 20em;
}
#box {
    margin-top: 1.5%;
    display: table;
    margin-left: 0 auto;
    margin-right: 0 auto;
    background-color: darkgray;
    display: inline-block;
    width: auto;
    height: 16.5em;
    border: solid black 2px;
}
img {
    width: 100%;
    height: 100%;
}
.fleche {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 8%;
}
.affichage {
    display: inline-block;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 82%;
}
.flecheGauche {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: -120px;
    width: 150px;
    height: 150px;
}
.flecheDroite {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: -110px;
    width: 150px;
    height: 150px;
}
.boxing {
    display: inline-flexbox;
    margin-top: 1.5%;
    display: table;
    margin-left: 15px;
    margin-right: 15px;
    background-color: darkgray;
    display: inline-block;
    width: 16.5em;
    height: 24em;
    border: solid black 2px;
}
.presentation {
    height: 50px;
    padding: 0;
    margin: 0;
}
.boxImage {
    background-position: center;
    width: 100%;
}
.footer{
    width: 100%;
    height: 80px;
    background-image: url(image/carbone_header.jpg);
}
#titleFooter {
    position: relative;
    display: inline-block;
    left: 40px;
    font-size: 20px;
    color: darkgray;
}
#pFooter {
    position: relative;
    color: darkgray;
    display: inline-block;
    font-size: 15px;
    left: 150px;
}


 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 
.imageModal {
    position: relative;
    width: 100%;
}
/*     Modal Header    */
.modal-header {
    padding: 2px 16px;
    background-image: url(image/carbone_header.jpg);
    border-right: 1px solid #888;
    border-left: 1px solid #888;
    color: darkgray;
}

/*      Modal Body     */
.modal-body {
    background-image: url(image/fond_carbone.jpg);
    padding: 2px 16px;
    border-right: 1px solid #888;
    border-left: 1px solid #888;
    height: 100%;
    color: darkgray;
}

/*      Modal Footer    */
.modal-footer {
    padding: 2px 16px;
    border-bottom: 1px solid #888;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    background-image: url(image/carbone_header.jpg);
    color: darkgray;
}

/*      Modal Content   */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    height: 80%;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/*       Add Animation Modal  */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top:0; opacity: 1}
}